*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.mouse {
    height: 10px;
    width: 10px;
    background-color: #b5afaf;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
    z-index: 9999;
}

:root {
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color: #020101;
}

body {
    background-position: center;
    /* background-image: url("bg.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1615749281200-59f7f151eab6?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: var(--second-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline black;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
}

.login_container {
    position: relative;
    backdrop-filter: blur(20px);
    width: 450px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    color: var(--second-color);
}

.login_tittle {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    width: 140px;
    height: 70px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
}

.login_tittle span {
    color: var(--black-color);
    font-size: 30px;
}

.login_tittle::before {
    content: "";
    top: 0;
    /* left: -30px; */
    position: absolute;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 0 var(--primary-color);
    width: 30px;
    height: 30px;
    background: transparent;
}

.login_tittle::after {
    content: "";
    top: 0;
    /* right: -30px; */
    position: absolute;
    border-top-left-radius: 50%;
    box-shadow: 15px 0 0 0 var(--primary-color);
    width: 30px;
    height: 30px;
    background: transparent;
}

.input_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input_field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    border-radius: 30px;
    padding-inline: 20px 54px;
    border: 2px solid var(--primary-color);
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.lable {
    position: absolute;
    transition: .2s;
    top: 15px;
    left: 20px;
}

.input_field:focus ~.lable,
.input_field:valid ~.lable{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: 30px;
    padding: 0 10px;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit {
    background: #fff6ff;
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    transition: .3s;
}

.input-submit:hover {
    background: var(--second-color);
}

.signup {
    text-align: center;
}

.signup a {
    margin-left: 5px;
    font-weight: 500;
}

@media only screen and (max-width: 564px) {
    .container {
        padding: 20px;
    }
    .login_container {
        padding: 7.5em 1.5em 4em 1.5em;
    }
} 